body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5d5d5d;
}

.card {
    font-size: 10px;
    border: 2px solid #000000;
    border-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #55df54;
    padding: 30px;
    text-align: center;
}

.card img {
    height: 350px;
    width: auto;
}

.card p {

    font-size: 30px;
}

.card h3 {
    font-size: 20px;
    position: relative;
    bottom: 15px;
}

.card button {
    background-color: aqua;
    color: #ffffff;
    position: relative;
    bottom: 20px;
    font-size: 20px;
}