body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2d413;

}

.card {
    justify-content: center;
    width: 300px;
    border: 1px solid orange;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f19605;
    margin: 10px;
}

.card img {
    background-color: #f19605;
    width: 100%;
    height: auto;
    display: block;

}

.card p {
    background-color: #f19605;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

}

.card h3 {
    left: 1px;
    margin: 1px;
    padding: 5px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card button {
    background-color: rgb(243, 233, 56);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 30px;
    height: 30px;
    border: none;
    width: 80%;
    color: black;
}

.card span {
    position: relative;
    left: 120px;
}
